[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
bs4 = "*"
mako = "*"
azure-storage-blob = "*"
gitpython = "*"

[requires]
python_version = "3.7"
